$primary-color: rgb(88, 88, 255);
$secondary-color: black;

html {
  font-family: Roboto, sans-serif;
}

* {
color: $secondary-color;
}

h1 {
  color: $primary-color;
  margin-bottom: 0.25em;
}

h2 {
  color: $secondary-color;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color: $primary-color;
}

.contacts {
   margin-bottom: 2em;
  }
.contact {
  display: flex;
  flex-direction: column;

  &__type {
    min-width: 90px;
  }
}
